#widgetBlock {
  all: initial;
}
#widgetBlock * {
  all: unset;
}
#translate-widget-container svg {
  width: initial !important;
  height: initial !important;
  vertical-align: unset;
}
#translate-widget-container img {
  vertical-align: unset;
}
#translate-widget-container input {
  transition: none;
}
#translate-widget-container label {
  margin: 0;
}
.RecastAppHeader {
  box-sizing: initial !important;
}
#translate-widget-container .RecastAppLive--message-container {
  -webkit-box-flex: 1 !important;
  flex-grow: 1 !important;
  background-size: 100% !important;
  background-color: #f4f4f4 !important;
  height: 100% !important;
}
.widget-tooltip:before {
  border: 10px solid transparent;
  border-left-color: #3c506c;
  position: absolute;
  left: 100%;
  right: 40px;
  content: "";
  bottom: 33%;
}
.RecastAppChat {
  right: 10px;
  bottom: 10px;
  background-color: #f4f4f4 !important;
  top: auto;
  left: auto;
  width: 370px;
  height: auto;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16) !important;
  position: fixed !important;
  z-index: 9999;
  transition: transform 0.3s, opacity 0.6s, -webkit-transofrm 0.3s !important;
  transform-origin: bottom;
  line-height: initial;
}
#translate-widget-container .open {
  transform: scaleY(1);
  opacity: 1;
  overflow: hidden;
}
.CaiApp *,
.RecastApp * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  border: none;
  outline: 0;
}
.RecastAppHeader {
  border-radius: 3px 3px 0 0;
  display: flex !important;
  align-items: center !important;
  -webkit-box-align: center !important;
}
.RecastAppHeader--logo {
  padding: 10px;
}
.CaiApp img,
.RecastApp img {
  max-width: 100%;
  display: block;
}
#widgetHeader .RecastAppHeader--title {
  font-weight: 700 !important;
  -webkit-box-flex: 1 !important;
  flex-grow: 1 !important;
}
.RecastAppHeader--btn {
  cursor: pointer;
  margin: 1rem;
  width: 15px;
  height: 15px;
}
.RecastAppChat--content {
  position: relative !important;
  height: calc(100% - 82px) !important;
}
.translate-widget-d-none {
  display: none;
}
#translate-widget-container .RecastAppLive {
  height: 100% !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  flex-direction: column !important;
}
.bot {
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.RecastAppMessageContainer {
  position: relative;
  display: flex;
}
.RecastAppMessage .bot {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}
.RecastAppMessage {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 1rem 0.5rem;
  width: -moz-fit-content;
  position: relative;
}
.visible {
  opacity: 1 !important;
}
.RecastAppMessage--logo {
  width: 35px;
  height: 35px;
  margin: 0 0 0 0.5rem;
  align-self: flex-end;
}
.RecastAppText {
  max-width: 290px;
  padding: 0.8rem;
  border-radius: 3px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.RecastAppInput {
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 1rem;
  color: grey;
  background: #fff;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
}
.RecastSendButtonContainer {
  cursor: pointer;
  display: flex;
}
.RecastSendbutton {
  width: 22px;
  height: 22px;
}
.CaiApp svg,
.Recastapp svg {
  max-width: 100%;
  display: block;
}
svg:not(:root) {
  overflow: hidden;
}
#widgetBlock .widget-input {
  background: #fff !important;
  border: 1px solid #dadada !important;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px !important;
  outline: 0;
  max-width: 190px;
  color: #969696;
  height: auto !important;
  box-sizing: border-box;
}
.widget-input::placeholder {
  color: #969696;
}
.CaiSendButtonContainer a {
  color: #4c8df1 !important;
  line-height: 22.42px;
  font-size: 19px;
}
.widget-tooltip-close:before {
  border: 10px solid transparent;
  border-left-color: #3c506c;
  position: absolute;
  left: 100%;
  right: 40px;
  content: "";
  bottom: 34%;
}
#widgetBlock .widget-call {
  background: #28a265;
  border-radius: 30px;
  border: none;
}
.fa_phone:before {
  content: "\f095";
  transform-origin: 50% 50% 0;
  color: #fff;
  font-size: 16px;
}
#widgetBlock #video-code-screen #myVideoPlay #myVideo {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#widgetBlock #video-code-screen #myVideoPlay {
  height: 210px;
}
.conference {
  background: #f4f4f4 !important;
  height: 360px;
}
#webchat-screen #wg_message {
  padding: 11px;
  padding-left: 40px;
  margin: 0;
  height: auto !important;
  width: calc(100% - 46px - 15px);
  box-sizing: border-box !important;
}
.call-again-box {
  box-shadow: none;
}
.block-after-call {
  padding: 2rem;
}
.is_commercial {
  display: none;
}
.remove_commercial {
  display: none;
}
#widgetHeader .textComercialSlog {
  text-transform: uppercase !important;
}
#webchat-screen.MsgSucces {
  color: #1abe5c !important;
  margin-bottom: -17px;
  margin-bottom: -15px;
}
#webchat-screen .MsgError {
  color: #9f2b1e !important;
  margin-bottom: -17px;
}
.OT_widget-container {
  position: absolute;
  background-color: #e6e6e6;
  overflow: hidden;
}
.end-btnImg {
  width: 30px !important;
}
#msgWaitErr {
  width: 370px !important;
}
#last-screen #errorVideo {
  width: 370px !important;
  text-align: center !important;
}
#video-pauseBtn {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin-top: 70px;
}
.cursorPr {
  cursor: pointer !important;
}
#widgetBlock #video-code-screen .vsc-controller {
  white-space: normal;
}
